@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");

:root {
  --font-primary: "Barlow Condensed", sans-serif;
  --font-secondary: "Bellefair", serif;
  --dark-color: rgb(11, 13, 23);
  --light-color: rgb(208, 214, 249);
  --white: rgb(255, 255, 255);
}

html {
  font-size: 62.5%;
}

body {
  background-image: url("../public/assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--font-primary);
  font-weight: 400;
  color: var(--light-color);
}

/* Header Section */

.header {
  padding: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 4rem;
  height: 4rem;
}

.navigation-button {
  background-color: transparent;
  border: none;
}

.home-heading {
  margin-top: 2.4rem;
  font-size: 1.6rem;
  letter-spacing: 2.7px;
  line-height: 1.9rem;
  text-align: center;
  text-transform: uppercase;
}

.space {
  color: var(--white);
  display: inline-block;
  font-family: var(--font-secondary);
  font-size: 8rem;
  line-height: 10rem;
  font-weight: 400;
  margin-top: 1.6rem;
}

.paragraph {
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  margin-top: 1.6rem;
  padding: 0 5rem;
}

.explore-wrapper {
  background: var(--white);
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8.1rem auto 4.8rem;
}

.explore {
  color: var(--dark-color);
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  text-decoration: none;
}
