@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap");

:root {
  --font-primary: "Barlow Condensed", sans-serif;
  --font-secondary: "Bellefair", serif;
  --dark-color: rgb(11, 13, 23);
  --light-color: rgb(208, 214, 249);
  --white: rgb(255, 255, 255);
}

/* CSS Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url("../public/assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--font-primary);
  font-weight: 400;
  color: var(--light-color);
  min-height: 100vh;
}

/* Header Section */

.header {
  padding: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  width: 4rem;
  height: 4rem;
}

.navigation-button {
  background-color: transparent;
  border: none;
}

.navigation {
  position: absolute;
  top: 0;
  right: 0;
  width: 69vw;
  height: 100vh;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .navigation {
    background: rgba(255, 255, 255, 0.04);
    -webkit-backdrop-filter: blur(81.5485px);
    backdrop-filter: blur(81.5485px);
  }
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .navigation {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.navigation .navigation-button {
  display: flex;
  margin: 3.3rem 2.4rem 6.4rem auto;
}

.nav-links {
  list-style: none;
  margin-left: 3.2rem;
}

.nav-item {
  margin-bottom: 3.2rem;
}

.nav-link {
  color: var(--white);
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1.8rem auto;
  column-gap: 1.1rem;
  justify-content: start;
}

.nav-index {
  font-weight: 700;
}

/* Home Page */

.home-heading {
  margin-top: 2.4rem;
  font-size: 1.6rem;
  letter-spacing: 2.7px;
  line-height: 1.9rem;
  text-align: center;
  text-transform: uppercase;
}

.space {
  color: var(--white);
  display: inline-block;
  font-family: var(--font-secondary);
  font-size: 8rem;
  line-height: 10rem;
  font-weight: 400;
  margin-top: 1.6rem;
}

.paragraph {
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  margin-top: 1.6rem;
  padding: 0 6rem;
}

.explore-wrapper {
  background: var(--white);
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8.1rem auto 4.8rem;
}

.explore {
  color: var(--dark-color);
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  text-decoration: none;
}
